.navbar {
  position: sticky;
  //padding: 16px;
  display: flex;
  align-items: center;
  flex-direction: row;
  top: 0;
  width: 100%;
  height: 90px;
  margin: 0;
  border-bottom: 1px solid #e8e8e8;
  background: white;

  &-inner {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  &-group {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;

    &.align-start {
      justify-content: flex-start;
      margin-right: auto;
      margin-left: 0;
    }

    &.align-end {
      justify-content: flex-end;
      margin-right: 0;
      margin-left: auto;
    }
  }

  &-item {
    padding: 10px;
  }

  &-link {
    width: 100%;
    height: 100%;
    transition: color 0.3s;
    color: black;

    &:hover {
      color: green;
    }

    &.active {
      color: blue;
    }
  }
}
