.cart-popup {
  &-wrapper {
    z-index: 100;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    top: 0;
    transition: opacity 0.3s, visibility 0.3s;

    &.shown {
      visibility: visible;
      opacity: 1;

      .cart-popup {
        transform: none;
      }
    }
  }

  position: relative;
  border: 1px solid black;
  background: white;
  transform: scale(0.4);
  transition: top 0.4s, transform 0.4s;
  width: 960px;

  border-radius: 8px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.32);

  &-header {
    //padding: 20px 10px 16px 26px;
    border-bottom: 1px solid #e9e9e9;
    display: flex;
    justify-content: space-between;

    h2 {
      padding: 16px;
      font-size: 20px;
    }

    button {
      font-size: 36px;
      transition: color 0.2s;
      height: 100%;
      padding-top: 2px;
      padding-right: 10px;
      //width: 36px;

      &:hover {
        color: red;
      }
    }
  }
}
